<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    happy dushera from <%= name%><br><br>
    Want to add your name 
    <a href="/link">Click Here</a>
</body>
</html>